body {
    background-image: url('../imgs/background.jpeg');
    background-position: center;
        background-repeat: repeat;
        background-size: cover;
        height: 100%;
}

table {
    text-align: center;
    width: 92%;
    margin-left: 4%;
    border-collapse: collapse;
    border: 1px solid black;
}

thead {
    background-image: url('imgs/Rectangle 1.png');
    opacity: 0.8;
}

th,
td {
    border-bottom: 1px solid #bbb;
    padding: 10px;
}

tbody tr:hover {
    background-color: #ccc;
    color: black;
}

td a {
    text-decoration: none;
    color: black
}

input[type=search] {
    padding: 10px 15px;
    border: 3px solid #bbb;
    text-align: right;
    display: block;
    width: 40%;
    letter-spacing: 4px;
    text-shadow: 0 0 2px black;
    word-spacing: 20px;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 3%;
}

.bottonDIV button {
    background-color: #bbb;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    cursor: pointer;
    margin: 2%;
}